# Arquivos/Diretórios de build
/build/
/app/build/
*/build/

# Arquivos do Android Studio
/.idea/
/*.iml
.gradle/
local.properties

# Cache e logs
*.log
*.tmp
*.bak
*.swp

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações de Firebase
google-services.json
firebase-debug.log

# Outros arquivos temporários
/captures/
/outputs/

# IntelliJ
/out/

# Arquivos de testes gerados
/test-output/